<div class="col-10 offset-1">
  <h1>About me</h1>

  <p>
    I started my travels in 2000.
  </p>
  <br />
  <p>
    I've travelled to Korea, China, Spain, Italy, India, Scotland, Ireland. This blog is about my travels.
  </p>


</div>